
<section class="w3l-main-slider" id="home">
  <!-- main-slider -->
  <div class="companies20-content">
   
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h5>Towards Enhancement of Sceintific Knowledge Sharing</h5>
                 <a target="_blank" class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://luanar.ac.mw/luanar/research_services.php">Read More</a>
                </div>
                
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h5>Explore The World Of Our Graduates and Future Researchers</h5>
                  <a target="_blank" class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://luanar.ac.mw/alumni/">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h5>Meet our Exceptional Staff, Researchers and Innovators</h5>
                 <a target="_blank" class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://luanar.ac.mw/luanar/research_services.php">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h5>Know more about LUANAR’s research and Outreach activities</h5>
                  <a target="_blank" class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="https://luanar.ac.mw/luanar/research_services.php">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>

</div>
