{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'partials/sliders.html' %}

  <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
  <!-- script for -->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- /main-slider -->
</section>
<section class="w3l-feature-3" id="features">
	<div class="grid top-bottom mb-lg-5 pb-lg-5">
		<div class="container">
			
			<div class="middle-section grid-column text-center">
				<div class="three-grids-columns">
					<span class="fa fa-laptop"></span>
					<h4>Innovations</h4>
					<p>Innovation is the driving force behind progress and transformation in every industry and field. Here is the list of all LUANAR innovations...</p>
					<a href="{% url 'innovations' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-users"></span>
					<h4>Research Projects</h4>
					<p>Our fundamental mission is  to conducting challenge-led research aimed at promoting a rich quality of life in Malawi and beyond...</p>
					<a href="{% url 'projects' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-book"></span>
					<h4>Publications</h4>
					<p>We impact the world through increased  visibility and availability of advanced agricultural scientific knowledge...</p>
					<a href="{% url 'publications' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!---728x90--->

<!-- features-4 block -->
<section class="w3l-index1" id="about">
	<div class="calltoaction-20  py-5 editContent">
		<div class="container py-md-3">
		
			<div class="calltoaction-20-content row">
				<div class="column center-align-self col-lg-6 pr-lg-5">
					<h5 class="editContent">About LUANAR Research Database</h5>
					<p class="more-gap editContent" style="text-align: justify;">This is a centralized repository of information that catalogs and organizes research studies, innovative projects, and publications in a specific field or across multiple disciplines. It serves as a valuable resource for researchers, professionals, and the general public to access and explore the latest advancements, findings, and insights within a particular area of interest.  
            This system can also be accessed on our android and IOS applications.</p>
							
				</div>
				<div class="column ccont-left col-lg-6" style="border-radius: 6px">
					<img src="{% static 'assets/images/ccs1.png' %}" class="img-responsive" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- features-4 block -->
<section class="services-12" id="course">
	<div class="form-12-content">
		<div class="container">
			<div class="grid grid-column-2 ">
				
				<div class="column1">
					<div class="heading">
						<h3 class="head text-white">LUANAR Call Center</h3>
						<h4>Get the support you need by contacting our call centre agents.</h4>
						<p class="my-3 text-white" style="text-align: justify">Overall, research drives progress, enables evidence-based decision-making, and leads to advancements across various fields, benefiting individuals, communities, and society as a whole. As such LUANAR has linked its research system with the call centre unit. Our call agents are now able to support communities by referring to the pool of researchers and their publications. Get the support you need by contacting our call centre agents via the following toll-free number.</p>
					  </div>
					</div>
					<div class="column2">
						<a class="btn btn-secondary btn-theme2 mt-3" href="contact.html"> Read More</a>
					</div>
			</div>
		</div>
	</div>
</section>
<!---728x90--->
<!--  form-12 -->

{% if projects %}
  <section class="w3l-features-8">
        <!-- /features -->
        <div class="features py-5" id="services">
        <div class="container py-md-3">
        
          <h3 class=""><b>Latest Projects at LUANAR</b></h3>
          <div class="fea-gd-vv text-center row">
          

            {% for project in projects %}
              <div class="float-top col-lg-4 col-md-6 mt-5">	
                {% if project.image_path %}
                    <a href="{% url 'project-details' project.id %}"><img src="{{project.image_path.url}}" class="img-responsive" alt=""></a>
                {% else %}
                    <a href="{% url 'project-details' project.id %}"><img src="{% static 'assets/images/project_default.jpg' %}" class="img-responsive" alt=""></a>
                {% endif %}
                  <div class="float-lt feature-gd">	
                      <h3><a href="{% url 'project-details' project.id %}">{{project.title}}</a> </h3>
                      <p>{{project.description | truncatewords:15}} </p>
                  </div>
              </div>	
            {% endfor %}	
            			 				 
            </div>
          <div class="column2">
				<a class="btn btn-secondary btn-theme2 mt-3" href="{% url 'projects' %}" > View all Projects</a>
          </div>
            
          </div>
          
          </div>
        <!-- //features -->
  </section>
{% endif %}

 <!-- specifications -->
    <section class="w3l-index2">
        <div class="main-w3 py-5" id="stats">
            <div class="container py-lg-3">
               <div class="row main-cont-wthree-fea">
                    <div class="col-lg-3 col-sm-6">
                        <div class="grids-speci1">
                            <h3 class="title-spe">60</h3>
                            <p>ACTIVE <br>RESEARCHERS</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">18</h3>
                            <p> NEW PUBLICATIONS <br>EVERY YEAR</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6  mt-lg-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">34</h3>
                            <p>WEBNARS <br>EVERY MONTHS</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">220</h3>
                            <p>ARTICLES <br>PUBLISHED</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //specifications -->
    </section>
<!-- customers4 block -->
<section class="w3l-customers-4" id="testimonials">
  <div id="customers4-block" class="py-5">
    <div class="container py-md-3">
  
     <div class="section-title align-center row">
      <div class="item-top col-md-6 pr-md-5">
        <div class="heading">
          <h3 class="head text-white">LUANAR Agribiz Hub</h3>
          <p class="my-3 head text-white" style="text-align: justify">The LUANAR Innovation and Incubation Centre, well known by its brand name the Agribiz Hub is a university led creative space aimed at supporting development and growth of agribusinesses in Malawi and beyond. The centre was established with initial support from the Malawi Government, through the Jobs for youth Programme funded by the African Development Bank.</p>
            <p class="my-3 head text-white" style="text-align: justify"> The target clients for the centre are in three categories namely startups (out of school and higher education students); micro small and medium entreprises; and researchers (to commercialise research outputs)</p>
          </div>
     </div>
          <div class="item-top col-md-6 mt-md-0 mt-4">
            <div class="item text-center">
             
              <p class="my-3 head text-white" style="text-align: justify"> Agribiz Hub aims to nurture innovative ideas to create wealth for entrepreneurs, communities and the economy at large through offering co-creation space, training, coaching,mentoring and business development services to support entrepreneurs to set up and grow businesses in the field of Agriculture. Incubates receive and support from leading experts and experienced entrepreneurs to nurture innovative business ideas to materialise. The private sector are encouraged to interact with researchers to innovatively resolve business challenges. </p>
              <div class="column2">
				<a class="btn btn-secondary btn-theme2 mt-3" href="http://www.luanar.ac.mw/agribiz/" target="_blank"> Read More</a>
              </div>
              
          </div>
         </div>
    </div>
  </div>
  </div>
</section>
<section class="w3l-price-2" id="news">
    <div class="price-main py-5">
        <div class="container py-md-3">
             <div class="pricing-style-w3ls row py-md-5">
              <div class="pricing-chart col-lg-6">

            {% if publications %}
                <h3 class="">Latest Publication Uploads</h3>
                    {% for publication in publications %}
                        <div class="tatest-top mt-md-5 mt-4">
                        <div class="price-box btn-layout bt6">
                            <div class="grid grid-column-2">
                                    {% if publication.image_path %}
                                        <div class="column-6">
                                            <img src="{{publication.image_path.url}}" alt="" class="img-fluid">
                                        </div>
                                    {% else %}
                                      <div class="column-6">
                                          <img src="{% static 'assets/images/pub_home_default.jpg' %}" alt="" class="img-fluid">
                                      </div>
                                    {% endif %}
                                <div class="column1">
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="{% url 'publication-details' publication.id %}">{{  publication.title | truncatewords:8}}</a></h6>
                                        <h5>{{publication.year_of_publication}}</h5>
                                        <p>{{ publication.abstract | truncatewords:20}}..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %} 
                        
                    <div class="text-right mt-4">
                        <a class="btn btn-secondary btn-theme2" href="{% url 'publications' %}"> View All</a>
                      </div>
                    </div>

                    {% endif %}

                    <div class="w3l-faq-page col-lg-6 pl-3 pl-lg-5 mt-lg-0 mt-5">
                        <h3 class="">Upcoming Research Events</h3>
                        <div class="events-top mt-md-5 mt-4">
                            <div class="events-top-left">
                                    <div class="icon-top">
                                        <h3>30</h3>
                                        <p>June</p>
                                        <span>2023</span>
                                    </div>
                            </div>
                            <div class="events-top-right">
                                <h6 class="pricehead"><a href="#">	
                                    Launch of LUANAR Call Center</a></h6>
                                    <p class="mb-2 mt-3">LUANAR ICT team will take the lead in Launching a call center. This event will be held on 30th June 2023 at LUANAR – Bunda campus. At this event, LUANAR Vice Chancellor will be the guest of the owner. .</p>
                                    <li>07:00 - 10:00 </li>
                                    <li class="melb">Lecture Theatre 1, Bunda</li>
                            </div>
                        </div>
                        <div class="events-top mt-4">
                            <div class="events-top-left">
                                    <div class="icon-top">
                                        <h3>25</h3>
                                        <p>July</p>
                                        <span>2023</span>
                                    </div>
                            </div>
                            <div class="events-top-right">
                                <h6 class="pricehead"><a href="#">	
                                    Launch of LUANAR research website </a></h6>
                                    <p class="mb-2 mt-3">LUANAR ICT team will take the lead in Launching its newly developed research website. This event will be held on 30th June 2023 at LUANAR – Bunda campus. At this event, LUANAR Vice Chancellor will be the guest of the owner. </p>
                                    <li>07:00 am - 10:00 am </li>
                                    <li class="melb">BICC, Lilongwe</li>
                            </div>
                        </div>
                        <div class="text-right mt-4">
                          <a class="btn btn-secondary btn-theme2" href="#"> View All</a>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}