{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="w3l-blog-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
      <div class="container py-lg-3">
        <h2>Blog Single</h2>
        <p><a href="index.html">Home</a> &nbsp; / &nbsp; Blog Single</p>
      </div>
    </div>
  </section>
  <!---728x90--->
  
  <section class="w3l-blog-single">
      <div class="single blog py-5">
        <div class="container py-md-3">
      
          <div class="d-grid grid-colunm-2">
            <!-- left side blog post content -->
            <div class="single-left">
              <div class="single-left1">
                  <div class="blg-img">
               <img src="assets/images/blog-1.jpg" alt=" " class="img-responsive img-fluid">
                <div class="bl-top">
                  <h4>15 Feb</h4>
                  <h6>2018</h6>
               </div>
              </div>
               
                <div class="btom-cont1 pt-4">
                  <h5 class="card-title"><a href="blog-single.html">Summer Course Starts From Comingsoon</a></h5>
                  <ul class="admin-post">
                    <li>
                      <a href="blog-single.html"><span class="fa fa-user"></span> Alexander</a>
                    </li>
                    <li>
                      <a href="blog-single.html"><span class="fa fa-tag"></span>Design, Php</a>
                    </li>
                    <li>
                      <a href="blog-single.html"><span class="fa fa-comments-o"></span>Comments (20)</a>
                    </li>
                  </ul>
                  <p class="mb-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like.</p>
                  <p class="">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years</p>
              </div>
          </div>
          <!---728x90--->
              <div class="comments mt-5">
                  <h3 class="post-content-title">Comments (4)</h3>
                  <div class="media mt-5 bod-1">
                    <div class="img-circle">
                      <img src="assets/images/c1.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="media-body">
                        <div class="medi-top mb-3">
                      <a href="#URL" class="name mt-0">Latham</a> 
                      <span>11 may 2020 </span>
                      </div>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                        fringilla. Donec lacinia congue felis in faucibus.</p>
                        <a href="#reply" class="rep mt-3">Reply</a>
                        <div class="media mt-4 bod-2">
                          <a class="img-circle img-circle-sm" href="#">
                            <img src="assets/images/c2.jpg" class="img-fluid" alt="...">
                          </a>
                          <div class="media-body">
                            <div class="medi-top mb-3">
                                <a href="#URL" class="name mt-0">Watlling</a> 
                                <span>11 may 2020 </span>
                                </div>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                              fringilla. Donec lacinia congue felis in faucibus.</p>
                              <a href="#reply" class="rep mt-3">Reply</a>
                          </div>
                        </div>
                    </div>
                  </div>
    
                  <div class="media bod-3">
                    <div class="img-circle">
                      <img src="assets/images/c3.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="media-body">
                      <div class="medi-top mb-3">
                          <a href="#URL" class="name mt-0">Henry</a> 
                          <span>11 may 2020 </span>
                          </div>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                        fringilla. Donec lacinia congue felis in faucibus.</p>
                        <a href="#reply" class="rep mt-3">Reply</a>
                      <div class="media mt-4 bod-4">
                        <a class="img-circle img-circle-sm" href="#">
                          <img src="assets/images/c2.jpg" class="img-fluid" alt="...">
                        </a>
                        <div class="media-body">
                          <div class="medi-top mb-3">
                              <a href="#URL" class="name mt-0">Watson</a> 
                              <span>11 may 2020 </span>
                              </div>
                          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.</p>
                            <a href="#reply" class="rep mt-3">Reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  
                </div>
              
              <div class="testi-top mt-5">
              
                  <h3 class="post-content-title">Leave A Message</h3>
                  <div class="form-commets mt-5">
                      <form action="#" method="post">
                          
                          
                          <div class="media-form">
                                  <input type="text" name="Name" required="Name" placeholder="Your Name">
                                  <input type="email" name="Email" required="Email" placeholder="Your Email">
                              </div>
                              <textarea name="Message" required="" placeholder="Write your comments here"></textarea>
                              <div class="text-right">
                                  <button class="btn btn-secondary btn-theme2" type="submit">Post comment</button>
                              </div>
                          
                      </form>
                  </div>
              </div>
              
              
              
            </div>
            <!-- left side blog post content -->
    
            <!-- right side bar -->
            <div class="right-side-bar">
              <aside>
                <h3 class="aside-title mb-3">Search</h3>
                <form class="form-inline search-form" action="#" method="post">
                  <input class="form-control" type="search" placeholder="Search here" aria-label="email" required="">
                  <button class="btn search" type="submit"><span class="fa fa-search"></span></button>
                </form>
              </aside>
              <aside class="posts p-4 border">
                <h3 class="aside-title">All Categories</h3>
                <ul class="category">
                  <li><a href="#link"><span class="fa fa-angle-right"></span>All <label> (11)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span> Web Design <label>(24)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span> Graphic Design <label>(18)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span>Web Development <label>(08)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span> Marketing <label>(38)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span>Security <label>(26)</label></a></li>
                  <li><a href="#link"><span class="fa fa-angle-right"></span> Bug Fixing <label>(26)</label></a></li>
                </ul>
              </aside>
              <aside class="posts p-4 border">
                <h3 class="aside-title">Recent Posts</h3>
                <div class="posts-grids">
                  <div class="posts-grid-inner">
                    <div class="posts-grid-left pr-0">
                      <a href="blog-single.html">
                        <img src="assets/images/g1.jpg" alt=" " class="img-responsive ">
                      </a>
                    </div>
                    <div class="posts-grid-right">
                      <h4>
                        <a href="blog-single.html" class="text-bl">Sed ut perspiciatis</a>
                      </h4>
                      <span class="price"> 11 Minutes ago</span>
                    </div>
                  </div>
                  <div class="posts-grid-inner">
                    <div class="posts-grid-left pr-0">
                      <a href="blog-single.html">
                        <img src="assets/images/g2.jpg" alt=" " class="img-responsive ">
                      </a>
                    </div>
                    <div class="posts-grid-right">
                      <h4>
                        <a href="blog-single.html" class="text-bl">Unde omnis iste natus</a>
                      </h4>
                      <span class="price"> 15 Minutes ago</span>
                    </div>
                  </div>
                  <div class="posts-grid-inner">
                    <div class="posts-grid-left pr-0">
                      <a href="blog-single.html">
                        <img src="assets/images/g3.jpg" alt=" " class="img-responsive ">
                      </a>
                    </div>
                    <div class="posts-grid-right">
                      <h4>
                        <a href="blog-single.html" class="text-bl">Otam rem aperiam</a>
                      </h4>
                      <span class="price"> 11 Minutes ago </span>
                    </div>
                  </div>
                </div>
              </aside>
              
              <aside class="posts p-4 border">
                <h3 class="aside-title">Instagram Posts</h3>
                <div class="posts-grid">
                  <a href="blog-single.html">
                    <img src="assets/images/g4.jpg" alt=" " class="img-responsive ">
                  </a>
                  <a href="blog-single.html">
                    <img src="assets/images/g5.jpg" alt=" " class="img-responsive ">
                  </a>
                  <a href="blog-single.html">
                    <img src="assets/images/g6.jpg" alt=" " class="img-responsive ">
                  </a>
                  <a href="blog-single.html">
                    <img src="assets/images/g7.jpg" alt=" " class="img-responsive ">
                  </a>
                  <a href="blog-single.html">
                    <img src="assets/images/g8.jpg" alt=" " class="img-responsive ">
                  </a>
                  <a href="blog-single.html">
                    <img src="assets/images/g9.jpg" alt=" " class="img-responsive ">
                  </a>
                </div>
              </aside>
              <aside class="posts p-4 border">
                <h3 class="aside-title">Popular Tags</h3>
                <ul class="tags-list">
                  <li><a href="#tag">Web Design</a></li>
                  <li><a href="#tag"> Graphic Design</a></li>
                  <li><a href="#tag">Web Development</a></li>
                  <li><a href="#tag"> Marketing</a></li>
                  <li><a href="#tag">Css</a></li>
                  <li><a href="#tag">Word Press</a></li>
                  <li><a href="#tag">Php</a></li>
                  <li><a href="#tag">Html</a></li>
                  <li><a href="#tag">Security</a></li>
                  <li><a href="#tag">Bug Fixing</a></li>
                </ul>
              </aside>
              <aside class="posts p-4 border">
                  <h3 class="aside-title">Advertisement</h3>
                  <a href="blog-single.html">
                      <img src="assets/images/g6.jpg" alt=" " class="img-responsive ">
                    </a>
                </aside>
            </div>
            <!-- //right side bar -->
          </div>
        </div>
      </div>
    </section>
    <!---728x90--->
  <!-- grids block 5 -->

{% endblock %}