{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}

    <main class="auth">
    <header id="auth-header" class="auth-header">
        <h1>
          <img src="{% static 'assets/images/LuanarLogo.png' %}" width="100">
          <span class="sr-only">Sign In</span>
        </h1>
    </header><!-- form -->
    {% comment %} {% include 'partials/alerts.html' %} {% endcomment %}

      <form action="{% url 'sign-in' %}" method="post" class="auth-form">
        <!-- .form-group -->
        {% csrf_token %}

        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="inputUser" class="form-control" name="username" placeholder="Username" autofocus="" required>
            <label for="inputUser">Username</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required> 
            <label for="inputPassword">Password</label>
          </div>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign In</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group text-center">
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label" for="remember-me">Keep me sign in</label>
          </div>
        </div><!-- /.form-group -->
        <!-- recovery links -->
        <div class="text-center pt-3">
          <a href="#" class="link">Forgot Password?</a>
        </div><!-- /recovery links -->
      </form><!-- /.auth-form -->
      <footer class="auth-footer">
         LUANAR RESEARCH © 2023 All Rights Reserved.
      </footer>
    </main><!-- /.auth -->
    <!-- BEGIN BASE JS -->
{% endblock content %}