{% extends 'dro/base.html' %} {% block content %}

<div class="col-lg-12">
    <div class="page-section">
        <!-- .section-block -->
        <div class="alert alert-primary has-icon alert-dismissible fade show">

            <p class="mb-0"> Welcome <b>{{ user.first_name }} {{ user.last_name}}</b>. </p>

        </div>
    </div>
</div><!-- /.section-block -->
<!-- grid row -->
<hr>

<br>

<div class="card-deck-xl">
    <div class="col-lg-12">
    {% if publications %}
      <!-- grid column -->
      <div class="col-lg-12">
        <br>
        <!-- .table-responsive -->
        <div class="table-responsive">
            <!-- .table -->
            <table class="table table-striped table-bordered table-hover">
              <!-- thead -->

              <thead class="thead-">
                <tr>
                  <th>#</th>
                  <th>AUTHOR</th>
                  <th>P~TYPE</th>
                  <th>JOURNAL NAME</th>
                  <th>URL</th>
                  <th>ACTION</th>
                </tr>
              </thead><!-- /thead -->
              <!-- tbody -->
              <tbody>
                  {% for publication in publications %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ publication.author.title }} {{ publication.author.first_name }} {{ publication.author.last_name }}</td>
                    <td>{{ publication.publication_type }}</td>
                    <td>{{ publication.journal_name }}</td>
                    <td>
                        <a href="http://dx.doi.org/{{ publication.doi }}"target="_blank">
                        {{ publication.doi }}</a>
                    </td>
                    <td class="align-middle text-right"> 
                      <a href="{% url 'publication-details' publication.id %}" class="btn btn-sm btn-icon btn-secondary">
                        <i class="far fa-eye"></i> <span class="sr-only">Detail view</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody><!-- /tbody -->
            </table><!-- /.table -->
          </div><!-- /.table-responsive -->
        </div>
      </div><!-- /.card -->
    </div><!-- /grid column -->
    {% else %}
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade show">
        Records not found
        </div>
    </div>
             <!-- /.card -->
    {% endif %}
    </div>
</div><!-- /card-deck-xl -->

{% endblock %}