{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

{% include 'partials/sliders.html' %}

  <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
  <!-- script for -->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- /main-slider -->
</section>
<section class="w3l-feature-3" id="features">
	<div class="grid top-bottom mb-lg-5 pb-lg-5">
		<div class="container">
			
			<div class="middle-section grid-column text-center">
				<div class="three-grids-columns">
					<span class="fa fa-laptop"></span>
					<h4>Innovations</h4>
					<p>Innovation is the driving force behind progress and transformation in every industry and field. Here is the list of all LUANAR innovations...</p>
					<a href="{% url 'innovations' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-users"></span>
					<h4>Research Projects</h4>
					<p>Our fundamental mission is  to conducting challenge-led research aimed at promoting a rich quality of life in Malawi and beyond...</p>
					<a href="{% url 'projects' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-book"></span>
					<h4>Publications</h4>
					<p>We impact the world through increased  visibility and availability of advanced agricultural scientific knowledge...</p>
					<a href="{% url 'publications' %}" class="btn btn-secondary btn-theme3 mt-4">Read More </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!---728x90--->

<!-- features-4 block -->
<section class="w3l-index1" id="about">
	<div class="calltoaction-20  py-5 editContent">
		<div class="container py-md-3">
		
			<div class="calltoaction-20-content row">
				<div class="column center-align-self col-lg-6 pr-lg-5">
					<h5 class="editContent">About LUANAR Research Database</h5>
					<p class="more-gap editContent" style="text-align: justify;">This is a centralized repository of information that catalogs and organizes research studies, innovative projects, and publications in a specific field or across multiple disciplines. It serves as a valuable resource for researchers, professionals, and the general public to access and explore the latest advancements, findings, and insights within a particular area of interest.  
            This system can also be accessed on our android and IOS applications.</p>
							
				</div>
				<div class="column ccont-left col-lg-6" style="border-radius: 6px">
					<img src="{% static 'assets/images/ccs1.png' %}" class="img-responsive" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- features-4 block -->
<section class="services-12" id="course">
	<div class="form-12-content">
		<div class="container">
			<div class="grid grid-column-2 ">
				
				<div class="column1">
					<div class="heading">
						<h3 class="head text-white">LUANAR Call Center</h3>
						<h4>Get the support you need by contacting our call centre agents.</h4>
						<p class="my-3 text-white" style="text-align: justify">Overall, research drives progress, enables evidence-based decision-making, and leads to advancements across various fields, benefiting individuals, communities, and society as a whole. As such LUANAR has linked its research system with the call centre unit. Our call agents are now able to support communities by referring to the pool of researchers and their publications. Get the support you need by contacting our call centre agents via the following toll-free number.</p>
					  </div>
					</div>
					<div class="column2">
						<a class="btn btn-secondary btn-theme2 mt-3" href="#"> Read More</a>
					</div>
			</div>
		</div>
	</div>
</section>
<!---728x90--->
<!--  form-12 -->

{% if projects %}
  <section class="w3l-features-8">
        <!-- /features -->
        <div class="features py-5" id="services">
        <div class="container py-md-3">
        
          <h3 class=""><b>Latest Projects</b></h3>
          <div class="fea-gd-vv text-center row">
          
            {% for project in projects %}
              <div class="float-top col-lg-4 col-md-6 mt-5">	
                {% if project.image_path %}
                    <a href="{% url 'project_details' project.id %}"><img src="{{project.image_path.url}}" class="img-responsive" alt=""></a>
                {% endif %}
                  <div class="float-lt feature-gd">	
                      <h3><a href="{% url 'project_details' project.id %}">{{project.title |truncatewords:6}}</a> </h3><br>
                      <p><span class="fa fa-user"> {{project.project_lead}}</p>
                      <hr>
                      <p>{{project.description | truncatewords:15}} </p>
                  </div>
              </div>	
            {% endfor %}	
            			 				 
            </div>
          <div class="column2">
				<a class="btn btn-secondary btn-theme2 mt-3" href="{% url 'projects' %}" > View all Projects</a>
          </div>
            
          </div>
          
          </div>
        <!-- //features -->
  </section>
{% endif %}

 <!-- specifications -->
    <section class="w3l-index2">
        <div class="main-w3 py-5" id="stats">
            <div class="container py-lg-3">
               <div class="row main-cont-wthree-fea">
                    <div class="col-lg-3 col-sm-6">
                        <div class="grids-speci1">
                            <h3 class="title-spe">{{current_researchers}}</h3>
                            <p>ACTIVE <br>RESEARCHERS</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">{{current_year_publications}}</h3>
                            <p> NEW PUBLICATIONS <br>EVERY YEAR</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6  mt-lg-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">34</h3>
                            <p>WEBNARS <br>EVERY MONTHS</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                        <div class="grids-speci1">
                            <h3 class="title-spe">{{total_articles}}</h3>
                            <p>ARTICLES <br>PUBLISHED</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //specifications -->
    </section>
<!-- customers4 block -->
<section class="w3l-customers-4" id="testimonials">
  <div id="customers4-block" class="py-5">
    <div class="container py-md-3">
  
     <div class="section-title align-center row">
      <div class="item-top col-md-6 pr-md-5">
        <div class="heading">
          <h3 class="head text-white">LUANAR Agribiz Hub</h3>
          <p class="my-3 head text-white" style="text-align: justify">The LUANAR Innovation and Incubation Centre, well known by its brand name the Agribiz Hub is a university led creative space aimed at supporting development and growth of agribusinesses in Malawi and beyond. The centre was established with initial support from the Malawi Government, through the Jobs for youth Programme funded by the African Development Bank.</p>
            <p class="my-3 head text-white" style="text-align: justify"> The target clients for the centre are in three categories namely startups (out of school and higher education students); micro small and medium entreprises; and researchers (to commercialise research outputs)</p>
          </div>
     </div>
     <div class="item-top col-md-6 mt-md-0 mt-4">
            <div class="item text-center">
             
              <p class="my-3 head text-white" style="text-align: justify"> Agribiz Hub aims to nurture innovative ideas to create wealth for entrepreneurs, communities and the economy at large through offering co-creation space, training, coaching,mentoring and business development services to support entrepreneurs to set up and grow businesses in the field of Agriculture. Incubates receive and support from leading experts and experienced entrepreneurs to nurture innovative business ideas to materialise. The private sector are encouraged to interact with researchers to innovatively resolve business challenges. </p>
              <div class="column2">
				<a class="btn btn-secondary btn-theme2 mt-3" href="http://www.luanar.ac.mw/agribiz/" target="_blank"> Read More</a>
              </div>
              
          </div>
      </div>
    </div>
        
  </div>
  </div>
</section>

<!-- Publications here-->
{% if publications %}
  <section class="w3l-features-8">
        <!-- /features -->
        <div class="features py-5" id="services">
        <div class="container py-md-3">
        
          <h3 class=""><b>Latest Publications</b></h3>
          <div class="fea-gd-vv text-center row">
          
            {% for publication in publications %}
              <div class="float-top col-lg-4 col-md-6 mt-5">	
                  <div class="float-lt feature-gd">	
                      <h6 class="pricehead" style="text-align: justify"><b><a href="{% url 'publication_details' publication.id %}">{{  publication.title | truncatewords:8}}</a></b></h6><br>
                      <h8><span class="fa fa-user"></span> {{publication.author.title}} {{publication.author.first_name}} {{publication.author.last_name}} | {{publication.year_of_publication}}</h8>
                      <hr>
                      <p>{{publication.publication_type}}</p>                 
                  </div>
              </div>
            {% endfor %}	
            			 				 
            </div><br>
          <div class="column2">
				<a class="btn btn-secondary btn-theme2" href="{% url 'publications' %}"> View all Publications</a>
          </div>
            
          </div>
          
          </div>
        <!-- //features -->
  </section>
{% endif %}

<section class="w3l-customers-4" id="testimonials">
  <div id="customers4-block" class="py-5">
    <div class="container py-md-3">
  
     <div class="section-title align-center row">
      <div class="item-top col-md-6 pr-md-5">
        <div class="heading">
          <h3 class="head text-white">The Directorate of Research and Outreach</h3><br>
          <h5 style="color: white"><b>Email: dro@luanar.ac.mw</b></h5>
          <hr style="color: white">
          <p class="my-3 head text-white" style="text-align: justify">In keeping with LUANAR’s fundamental mission of conducting challenge-led research aimed at promoting a rich quality of life in Malawi and beyond, the Directorate of Research and Outreach is mandated to provide leadership in formulating and implementing relevant University policy and strategy. </p>
            
          </div>
     </div>
     <div class="item-top col-md-6 mt-md-0 mt-4">
            <div class="item text-center">
             
              <p class="my-3 head text-white" style="text-align: justify">The Directorate oversees a variety of functional areas, including ensuring compliance with research governance, supporting researchers to access funding and advising on the contracting process, facilitating academic collaborations, industrial interactions and knowledge transfer. The Directorate is also responsible for developing research metrics and gathering data to facilitate the tracking of research and outreach activitie </p>
              <div class="column2">
				<a class="btn btn-secondary btn-theme2 mt-3" href="http://www.luanar.ac.mw/agribiz/" target="_blank"> Read More</a>
              </div>
              
          </div>
      </div>
    </div>
        
  </div>
  </div>
</section>
<!-- End Publications here-->
<section class="w3l-price-2" id="news">
    <div class="price-main py-5">
        <div class="container py-md-3">
             <div class="pricing-style-w3ls row py-md-5">
              <div class="pricing-chart col-lg-6">

            {% if news %}
                <h3 class="">Latest News</h3>
                    
                        <div class="tatest-top mt-md-5 mt-4">
                        <div class="price-box btn-layout bt6">
                            {% for news in news %}
                            <div class="grid grid-column-2">
                                <div class="column-6">
                                    <img src="{{ news.attachment.url }}" alt="" class="img-fluid">
                                </div>
                                <div class="column1">
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="{% url 'news_details' news.id %}">{{news.title}}</a></h6>
                                        <h5><span class="fa fa-calendar"> {{news.created_at}}</h5>
                                        <p>{{news.description | truncatewords:20}}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                             {% endfor %} 
                        </div>
                    </div>
                   
                        
                    <div class="text-right mt-4">
                        <a class="btn btn-secondary btn-theme2" href="{% url 'news' %}"> View All</a>
                      </div>
                    </div>

                    {% endif %}

                    <div class="w3l-faq-page col-lg-6 pl-3 pl-lg-5 mt-lg-0 mt-5">
                        {% if events %}
                        <h3 class="">Upcoming Events</h3>
                        {% for events in events %}
                        
                        <div class="events-top mt-md-5 mt-4">
                            <div class="events-top-left">
                                    <div class="icon-top">
                                       <h3>{{events.date.day}}</h3>
                                        <p>{{events.date |date:'F'}}</p>
                                        <span>{{events.date.time}}</span> 
                                    </div>
                            </div>
                            <div class="events-top-right">
                                <h6 class="pricehead"><a href="{% url "event_details" events.id %}">	
                                    {{ events.name}}</a></h6>
                                    <p class="mb-2 mt-3" style="text-align: justify; font-size: 12px">{{ events.description }}</p>
                                    <hr>
                                    <li><b>{{events.event_type}}</b></li>
                                    {% comment %} <li class="melb">{{events.date.time}}</li> {% endcomment %}
                                    <li class="melb">{{events.venue}}</li>
                            </div>
                        </div>
                        
                        {% endfor %}
                        
                        <div class="text-right mt-4">
                          <a class="btn btn-secondary btn-theme2" href="#"> View All</a>
                        </div>
                        {% endif %}
                      </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}