{% extends 'base.html' %} 

{% load static %} 

{% block content %}


{% if page_obj %}
<section class="w3l-blog-single">
	<div class="single blog py-4">
		<div class="container py-md-2">
		<div class="d-grid grid-colunm-2">
			<!-- left side blog post content -->
			<div class="single-left"> 
			
				<form class="form-inline search-form mb-3" action="{% url 'innovations_search' %}" method="get">
					
					<input
						class="form-control"
						type="search"
						name="query"
						placeholder="Search by innovation title or author name"
						aria-label="search"
						required=""
					/>
					<button class="btn search" type="submit">
						<span class="fa fa-search"></span>
					</button>
				</form>
			<div class="single-left1">
                {% for innovation in page_obj %}
                {% if innovation.image_path %}
                    <div class="column-6">
                        <img src="{{innovation.image_path.url}}" alt="" class="img-fluid">
                    </div>
                  {% else %}
                     <div class="column-6">
                        <img src="{% static 'assets/images/pub_default.jpg' %}" alt="" class="img-fluid">
                    </div>
                {% endif %}
                
				
					<div class="btom-cont">
					<h5 class="card-title">
						<a href="{% url 'innovation_details' innovation.id %}"
						>{{ innovation.title }}</a
						>
					</h5>
					<ul class="admin-post">
						<li>
							<a>
								{{innovation.user.title}} {{innovation.user.first_name}} {{innovation.user.last_name}}
							</a>
						</li>
						{% if innovation.patent %}
							<li>
							<a href="#"><b>Patent No: </b>{{ innovation.patent }}</a>							</li>
						{% endif %}
						<li>
						<a href="#"
							class="text-bl"><b>Year of Release: </b>{{ innovation.year_of_innovation }}</a
						>
						</li>
					</ul>
					<p class="">{{ innovation.description | truncatewords:100}}</p>
					<a
						href="{% url 'innovation_details' innovation.id %}"
						class="btn btn-theme2 mt-3"
						>Continue Reading</a
					>
					</div>

					<br />
				{% endfor %}
			</div>

			<!-- pagination -->
			<div class="pagination">
				<ul>
				<li>
					{% if page_obj.has_previous %}
						<a
						href="?page={{ page_obj.previous_page_number }}"
						class="not-allowed"
						disabled=""
						>
						<span
							class="fa fa-angle-double-left"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				{% for page_number in page_obj.paginator.page_range %}
				<li>
					<a {% if page_obj.number == page_number %} class="active" {% endif %}
					href="?page={{ page_number }}">
					{{ page_number }}
					</a>
				</li>
				{% endfor %}
				<li>
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">
						<span
							class="fa fa-angle-double-right"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				</ul>
			</div>
			</div>
			<!-- left side blog post content -->

			<!-- right side bar -->
		<div class="right-side-bar">
			<section class="w3l-form-12">
			
                <aside class="posts p-4 border">
				<h3 class="aside-title">LUANAR Innovations stats</h3>
				<ul class="category">
				<li>
					<a href="#link">On Going:
                        <label>({{ongoing_innovations}})</label></a>
					
				</li>
				<li>
					<a href="#link">Completed
                        <label>({{completed_innovations}})</label></a>
					
				</li>
				<li>
					<a href="#link">Total Innovations
                        <label> ({{total_innovation}})</label></a>
				</li>
				
                
				</ul>
			</aside>
			</section>
			<br/>	
		  </div>
		</div>
	</div>
	</section>
	<!-- grids block 5 -->

{% else %}
{% endif %} 
{% endblock %}
