{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>{{umbrellaProject.title}}</h2>
      
    </div>
  </div>
</section>
  
  <section class="w3l-blog-single">
      <div class="single blog py-5">
        <div class="container py-md-3">
          <div class="d-grid grid-colunm-2">
            <!-- left side blog post content -->
            <div class="single-left">
              <div class="single-left1">

                {% comment %} {% if umbrellaProject.image_path %}
                  <div class="blg-img">
                    <a href="#"><img src="{{umbrellaProject.image_path.url}}" alt=" " class="img-responsive img-fluid">
                    <div class="bl-top">
                      <h4>{{umbrellaProject.date_from}}</h4>	
                    </div></a>
                  </div>
                {% else %}
                  <div class="blg-img">
                    <a href="#"><img src="{% static 'assets/images/project_default.jpg' %}" alt=" " class="img-responsive img-fluid">
                    <div class="bl-top">
                      <h4>{{umbrellaProject.date_from}}</h4>	
                    </div></a>
                  </div>
                {% endif %}  {% endcomment %}

                <div class="btom-cont1 pt-4">
                  <h5 class="card-title">{{ umbrellaProject.title }}</h5><hr>
                  
                  <p class="mb-3" style="text-align: justify">{{ umbrellaProject.description }}</p>
              </div>
              <br/>
              
              {% if umbrellaProject.project_set.exists %}
                <div>
                  <h5><b>Related sub projects</b></h5><br/>
                      {% comment %} {% for project in umbrellaProject.project_set.all %}
                          <a class="nav-link" href="{% url 'project' project.id %}">
                            {{project.title | truncatewords:10}}
                          </a>
                      {% endfor %} {% endcomment %}
                       <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-480">Title</th>
                                        <th class="hidden-480">Principle Investigator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for project in umbrellaProject.project_set.all %}
                                    <tr>
                                         <td class="hidden-480">
                                           <a class="nav-link" href="{% url 'project' project.id %}">
                                               {{project.title | truncatewords:8}}
                                           </a>
                                         </td>
                                         <td class="hidden-480"><a class="nav-link">{{project.user.title}} {{project.project_pi}}</a></td>
                                    </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                </div> 
                <br/>
              {% endif %} 

              {% if umbrellaProject.publication_set.exists %}
                <div>
                  <h5><b>Related publications</b></h5><br/>
                  <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-480">Title</th>
                                        <th class="hidden-480">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for publication in umbrellaProject.publication_set.all %}
                                    <tr>
                                         <td>
                                           <a class="nav-link" href="{% url 'publication_details' publication.id %}">
                                               {{publication.title  | truncatewords:5}}
                                           </a>
                                         </td>
                                         <td class="hidden-480"><a class="nav-link">{{publication.author.title}} {{publication.author.first_name}} {{publication.author.last_name}}</a></td>
                                    </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                      {% comment %} {% for publication in umbrellaProject.publication_set.all %}
                          <a class="nav-link" href="{% url 'publication_details' publication.id %}">
                            {{publication.title | truncatewords:10}}
                          </a>
                      {% endfor %} {% endcomment %}
                </div> 
                <br/>
                {% endif %} 
                
                {% if umbrellaProject.innovation_set.exists %}
                  <div>
                    <h5><b>Related innovations</b></h5><br/>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-480">Title</th>
                                        <th class="hidden-480">Innovator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for innovation in umbrellaProject.innovation_set.all %}
                                    <tr>
                                         <td class="hidden-480">
                                           <a class="nav-link" href="{% url 'innovation_details' innovation.id %}">
                                               {{innovation.title | truncatewords:8}}
                                           </a>
                                         </td>
                                         <td class="hidden-480"><a class="nav-link">{{innovation.user.title}} {{innovation.user.first_name}} {{innovation.user.last_name}}</a></td>
                                    </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        {% comment %} {% for innovation in umbrellaProject.innovation_set.all %}
                              <a class="nav-link" href="{% url 'innovation_details' innovation.id %}">
                                {{innovation.title | truncatewords:10}}
                              </a>
                        {% endfor %} {% endcomment %}
                  </div> <br/>
                {% endif %}

                {% if umbrellaProject.projectscholarship_set.exists %}
                <div>
                  <h5><b>Project  Scholarships</b></h5><br/>
                          {% comment %} <a class="nav-link" href="{% url 'project' projectscholarship.id %}">
                            {% if projectscholarship.get_scholarship_type_display == "Msc" %}                             
                                  <ul class="category">
                                  <li>Masters Programmes <label>({{projectscholarship.total_offered}})</label></li>
                                  </ul>
                            {% endif %}
                           </a> {% endcomment %}
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-480">Scholarship Type</th>
                                        <th class="hidden-480" colspan="5">Total Offered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for projectscholarship in umbrellaProject.projectscholarship_set.all %}
                                    <tr>
                                         <td class="hidden-480">
                                           {% if projectscholarship.get_scholarship_type_display == "Phd" %} 
                                              <p>Doctor of philosophy</p>
                                            {% elif projectscholarship.get_scholarship_type_display == "Msc" %} 
                                               <p>Masters Programmes</p>
                                            {% elif projectscholarship.get_scholarship_type_display == "Bsc" %} 
                                               <p>Bachelors Degree</p>
                                            {% elif projectscholarship.get_scholarship_type_display == "Cet" %} 
                                               <p>Certificate</p>
                                            {% elif projectscholarship.get_scholarship_type_display == "Dip" %} 
                                               <p>Diploma</p>
                                            {% elif projectscholarship.get_scholarship_type_display == "Shc" %} 
                                               <p>ShortCourse</p>
                                            {% endif %}
                                         </td>
                                         
                                         <td class="hidden-490">{{projectscholarship.total_offered}}</td>
                                    </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                       <br/>
                {% endif %} 

              </div>
            </div>
            <!-- left side blog post content -->
            <!-- right side bar -->
            <div class="right-side-bar">
                {% if umbrellaProject.supporting_document %}
                <div class="three-grids-columns">
                  <span> </span>
                  <a href="{{umbrellaProject.supporting_document.url}}" class="btn btn-secondary mt-4 ml-4">
                    <span class="fa fa-book">&nbsp;&nbsp;&nbsp;Download Project Information PDF</span>
                    </a>
                </div>
                {% endif %}
              <!-- contact -->
                <section class="w3l-contacts-12" id="contact">
                  <div class="contact-top">
                      <div class="container py-md-3">
                          <div class="row cont-main-top">
                              <!-- contact address -->
                              <div class="contact col-lg-12">
                                  <div class="cont-subs">
                                    <div class="cont-add add-2">     
                                      <div class="cont-add-rgt">
                                        <h4>Project Lead</h4><hr/>
                                        <p>
                                         {{umbrellaProject.user.title}} {{umbrellaProject.project_lead }}</p>
                                      </div> 
                                    </div>

                                    <div class="cont-add add-2">
                                      <div class="cont-add-rgt">
                                      <h4>Project Cost</h4><hr/>
                                        <p>$ {{ umbrellaProject.total_value | intcomma  }}</p>
                                      </div>
                                    </div>

                                    <div class="cont-add add-2">
                                      <div class="cont-add-rgt">
                                      <h4>Project Status</h4><hr/>
                                        <p class="contact-text-sub">
                                          <a href="#">{{ umbrellaProject.project_status }}</a></p>
                                      </div>
                                    </div>

                                    <div class="cont-add add-2">
                                          <div class="cont-add-rgt">
                                          <h4>Project donors</h4><hr/>
                                            <p class="contact-text-sub">
                                              <a href="#">{{ umbrellaProject.project_donor }}</a></p>
                                          </div>
                                    </div>

                                    <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project partners</h4><hr/>
                                            <p class="contact-text-sub">
                                              <a href="#">{{umbrellaProject.project_partner }}</a></p>
                                          </div> 
                                    </div>

                                      {% comment %} {% if publication in project.publication_set.all %} {% endcomment %}
                                      
                                        {% comment %} <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project Publications</h4><hr/>
                                                <p class="contact-text-sub">
                                              {% for publication in project.publication_set.all %}
                                                    <a class="nav-link" href="{% url 'publication_details' publication.id %}">
                                                      {{publication.title | truncatewords:3}}</a>
                                                </p><hr/>
                                              {% endfor %}
                                          </div> 
                                        </div> {% endcomment %}
                                      {% comment %} {% else %}
                                        <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project Publications</h4><hr/>
                                            <p class="contact-text-sub">
                                                <a class="nav-link" href="#">
                                                  N/A</a>
                                            </p><hr/>
                                          </div> 
                                        </div>
                                      {% endif %} {% endcomment %}
                                    </div>                   
                                  </div>
                                  
                                    <!-- //contact address -->
                                  </div>
                                </section>
                                <!-- //contact -->    
                            </div>
                            </div>
                            <!-- //right side bar -->
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
    <!---728x90--->
  <!-- grids block 5 -->

  <script>
        $(document).ready(function() {
            $('#dynamic-table').DataTable({
				select: {
                style: 'single'
            }
			}

			);
        });
  </script>

{% endblock %}