{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>{{umbrellaProject.title}}</h2>
    </div>
  </div>
</section>
  
  <section class="w3l-blog-single">
      <div class="single blog py-5">
        <div class="container py-md-3">
          <div class="d-grid grid-colunm-2">
            <!-- left side blog post content -->
            <div class="single-left">
              <div class="single-left1">

                {% if umbrellaProject.image_path %}
                  <div class="blg-img">
                    <a href="#"><img src="{{umbrellaProject.image_path.url}}" alt=" " class="img-responsive img-fluid">
                    <div class="bl-top">
                      <h4>{{umbrellaProject.date_from}}</h4>	
                    </div></a>
                  </div>
                {% else %}
                  <div class="blg-img">
                    <a href="#"><img src="{% static 'assets/images/project_default.jpg' %}" alt=" " class="img-responsive img-fluid">
                    <div class="bl-top">
                      <h4>{{umbrellaProject.date_from}}</h4>	
                    </div></a>
                  </div>
                {% endif %} 

                <div class="btom-cont1 pt-4">
                  <h5 class="card-title">{{ umbrellaProject.title }}</h5><hr>
                  
                  <p class="mb-3" style="text-align: justify">{{ umbrellaProject.description }}</p>
              </div>
              <br/>
              <hr/> 

              {% if umbrellaProject.project_set.exists %}
                <div>
                  <h5><b>Related sub projects</b></h5><hr/>
                      {% for project in umbrellaProject.project_set.all %}
                          <a class="nav-link" href="{% url 'project' project.id %}">
                            {{project.title | truncatewords:10}}
                          </a>
                      {% endfor %}
                </div> 
                <hr/><br/>
              {% endif %} 
              {% if umbrellaProject.publication_set.exists %}
                <div>
                  <h5><b>Related publications</b></h5><hr/>
                      {% for publication in umbrellaProject.publication_set.all %}
                          <a class="nav-link" href="{% url 'publication_details' publication.id %}">
                            {{publication.title | truncatewords:10}}
                          </a>
                      {% endfor %}
                </div> 
                <hr/><br/>
                {% endif %} 
                
                {% if umbrellaProject.innovation_set.exists %}
                  <div>
                    <h5><b>Related innovations</b></h5><hr/>
                        {% for innovation in umbrellaProject.innovation_set.all %}
                              <a class="nav-link" href="{% url 'innovation_details' innovation.id %}">
                                {{innovation.title | truncatewords:10}}
                              </a>
                        {% endfor %}
                  </div> 
                {% endif %}
              </div>
            </div>
            <!-- left side blog post content -->
            <!-- right side bar -->
            <div class="right-side-bar">
                {% if umbrellaProject.supporting_document %}
                <div class="three-grids-columns">
                  <span> </span>
                  <a href="{{umbrellaProject.supporting_document.url}}" class="btn btn-secondary mt-4 ml-4">
                    <span class="fa fa-book">&nbsp;&nbsp;&nbsp;Download Project Information PDF</span>
                    </a>
                </div>
                {% endif %}
              <!-- contact -->
                <section class="w3l-contacts-12" id="contact">
                  <div class="contact-top">
                      <div class="container py-md-3">
                          <div class="row cont-main-top">
                              <!-- contact address -->
                              <div class="contact col-lg-12">
                                  <div class="cont-subs">
                                    <div class="cont-add add-2">     
                                      <div class="cont-add-rgt">
                                        <h4>Project Lead</h4><hr/>
                                        <p class="contact-text-sub">
                                          <a href="#">{{umbrellaProject.project_lead }}</a></p>
                                      </div> 
                                    </div>

                                    <div class="cont-add add-2">
                                      <div class="cont-add-rgt">
                                      <h4>Project Cost</h4><hr/>
                                        <p class="contact-text-sub">
                                          <a href="#">$ {{ umbrellaProject.total_value | intcomma  }}</a></p>
                                      </div>
                                    </div>

                                    <div class="cont-add add-2">
                                      <div class="cont-add-rgt">
                                      <h4>Project Status</h4><hr/>
                                        <p class="contact-text-sub">
                                          <a href="#">{{ umbrellaProject.project_status }}</a></p>
                                      </div>
                                    </div>

                                    <div class="cont-add add-2">
                                          <div class="cont-add-rgt">
                                          <h4>Project donors</h4><hr/>
                                            <p class="contact-text-sub">
                                              <a href="#">{{ umbrellaProject.project_donor }}</a></p>
                                          </div>
                                    </div>

                                    <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project partners</h4><hr/>
                                            <p class="contact-text-sub">
                                              <a href="#">{{umbrellaProject.project_partner }}</a></p>
                                          </div> 
                                    </div>

                                      {% comment %} {% if publication in project.publication_set.all %} {% endcomment %}
                                      
                                        {% comment %} <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project Publications</h4><hr/>
                                                <p class="contact-text-sub">
                                              {% for publication in project.publication_set.all %}
                                                    <a class="nav-link" href="{% url 'publication_details' publication.id %}">
                                                      {{publication.title | truncatewords:3}}</a>
                                                </p><hr/>
                                              {% endfor %}
                                          </div> 
                                        </div> {% endcomment %}
                                      {% comment %} {% else %}
                                        <div class="cont-add add-2">     
                                          <div class="cont-add-rgt">
                                            <h4>Project Publications</h4><hr/>
                                            <p class="contact-text-sub">
                                                <a class="nav-link" href="#">
                                                  N/A</a>
                                            </p><hr/>
                                          </div> 
                                        </div>
                                      {% endif %} {% endcomment %}
                                    </div>                   
                                  </div>
                                  
                                    <!-- //contact address -->
                                  </div>
                                </section>
                                <!-- //contact -->    
                            </div>
                            </div>
                            <!-- //right side bar -->
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
    <!---728x90--->
  <!-- grids block 5 -->

{% endblock %}