{% extends 'base.html' %} 

{% load static %} 

{% block content %}

{% if page_obj %}

<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Projects</h2>
      <p><a href="{% url 'index' %}">Home</a> &nbsp; / &nbsp; Projects</p>
    </div>
  </div>
</section>

	<section class="w3l-blog-single">
	<div class="single blog py-4">
		<div class="container py-md-2">
		<div class="d-grid grid-colunm-2">
			<!-- left side blog post content -->
		<div class="single-left">
			{% for project in page_obj %}
			<div class="single-left1">
				{% if project.image_path %}
					<div class="blg-img">
						<a href="#"><img src="{{project.image_path.url}}" alt=" " class="img-responsive img-fluid">
						<div class="bl-top">
							<h4>{{project.date_from}}</h4>	
						</div></a>
					</div>
				{% else %}
					<div class="blg-img">
						<a href="#"><img src="{% static 'assets/images/project_default.jpg' %}" alt=" " class="img-responsive img-fluid">
						<div class="bl-top">
							<h4>{{project.date_from}}</h4>	
						</div></a>
					</div>
				{% endif %}
				
					<div class="btom-cont">
						<h5 class="card-title">
							<a href="{% url 'project_details' project.id %}"
							>{{ project.title }}</a
							>
						</h5>
						<ul class="admin-post">
							<li>
							<a href="#"></a>
								Project Lead: <b>{{project.project_pi}}</b>
							</li>
						</ul>
						<p class="">{{ project.description | truncatewords:20 }}</p>
						<a
							href="{% url 'project_details' project.id %}"
							class="btn btn-theme2 mt-3"
							>Continue Reading</a
						>
					</div>
					<br />
		</div>
		{% endfor %}

			<!-- pagination -->
			<div class="pagination">
				<ul>
				<li>
					{% if page_obj.has_previous %}
						<a
						href="?page={{ page_obj.previous_page_number }}"
						class="not-allowed"
						disabled=""
						>
						<span
							class="fa fa-angle-double-left"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				<li>
					<a class="active" href="#"> {{ page_obj.number }} </a>
				</li>
				<li>
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">
						<span
							class="fa fa-angle-double-right"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				</ul>
			</div>
			</div>
			<!-- left side blog post content -->

			<!-- right side bar -->
		<div class="right-side-bar">
			<aside>
				<h3 class="aside-title mb-3">Search</h3>
				<form class="form-inline search-form" action="#" method="post">
				<input
					class="form-control"
					type="search"
					placeholder="Search here"
					aria-label="email"
					required=""
				/>
				<button class="btn search" type="submit">
					<span class="fa fa-search"></span>
				</button>
				</form>
				</aside>
			<aside class="posts p-4 border">
				<h3 class="aside-title">Filter by Categories</h3>
				<ul class="category">
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Year
					<label>(18)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Countries
					<label>(1)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Project Status
					<label> (2)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Project PI
					<label>(24)</label></a
					>
				</li>
                <li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Type
					<label>(3)</label></a
					>
				</li>
				</ul>
			</aside>
			</div>
			<!-- //right side bar -->
		</div>
		</div>
	</div>
	</section>
	<!-- grids block 5 -->

{% else %}
{% endif %} 
{% endblock %}
