{% extends 'base.html' %} 

{% load static %} 

{% block content %}


<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Publications</h2>
      <p><a href="{% url 'index' %}">Home</a> &nbsp; / &nbsp; Publications</p>
    </div>
  </div>
</section>

{% if page_obj %}	
<section class="w3l-blog-single">
	<div class="single blog py-4">
		<div class="container py-md-2">
		<div class="d-grid grid-colunm-2">
			<!-- left side blog post content -->
			<div class="single-left">
				<form class="form-inline search-form" action="{% url 'publications_search' %}" method="get">
					
					<input
						class="form-control"
						type="search"
						name="query"
						placeholder="Search by publication title or author name"
						aria-label="search"
						required=""
					/>
					<button class="btn search" type="submit">
						<span class="fa fa-search"></span>
					</button>
				</form>
			<div class="single-left1">
             {% for publication in page_obj %}
                
                     {% comment %} <div class="column-6">
                        <img src="{% static 'assets/images/pub_default.jpg' %}" alt="" class="img-fluid">
                    </div> {% endcomment %}
                  <hr/>
					<div class="btom-cont">
					<h5 class="card-title">
						<a href="{% url 'publication_details' publication.id %}"
						>{{ publication.title |lower }}</a
						>
					</h5>
					<ul class="admin-post">
						<li>
						<a href="{% url 'publication_details' publication.id %}"
							>{{ publication.publication_type |upper}}</a
						>
						</li>
						<li>
						<a href="{% url 'publication_details' publication.id %}"
							class="text-bl">{{ publication.author.first_name }} {{ publication.author.last_name }}</a
						>
						</li><br/>
						<li>
						<a href="{% url 'publication_details' publication.id %}"
							>{{ publication.co_authors }}</a
						>
						</li>
					</ul>
					{% comment %} <p class="">{{ publication.abstract | striptags | truncatewords:30}}.</p> {% endcomment %}
					<div class="float-lt feature-gd col-lg-4 col-md-6">
						<div class="icon-info">
						<a href="{% url 'publication_details' publication.id %}" class="red mt-3">
							Read More <span class="fa fa-angle-right pl-1"></span></a>
						</div>
					</div>
					{% comment %} <a
						href="{% url 'publication_details' publication.id %}"
						class="btn btn-theme2 mt-3"
						>Continue Reading</a
					> {% endcomment %}
					</div>

					<br />
				{% endfor %}
			</div>

			<!-- pagination -->
			<div class="pagination">
				<ul>
				<li>
					{% if page_obj.has_previous %}
						<a
						href="?page={{ page_obj.previous_page_number }}"
						class="not-allowed"
						disabled=""
						>
						<span
							class="fa fa-angle-double-left"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				{% for page_number in page_obj.paginator.page_range %}
				<li>
					<a {% if page_obj.number == page_number %} class="active" {% endif %}
					href="?page={{ page_number }}">
					{{ page_number }}
					</a>
				</li>
				{% endfor %}
				<li>
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">
						<span
							class="fa fa-angle-double-right"
							aria-hidden="true"
						></span>
						</a>
					{% endif %}
				</li>
				</ul>
			</div>
			</div>
			<!-- left side blog post content -->

			<!-- right side bar -->
		<div class="right-side-bar">
		
			<aside class="posts p-4 border">
				<h3 class="aside-title">Categories</h3>
				<ul class="category">
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Year
					<label>(18)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Countries
					<label>(18)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Authors
					<label> (11)</label></a
					>
				</li>
				<li>
					<a href="#link"
					><span class="fa fa-angle-right"></span> Journals
					<label>(24)</label></a
					>
				</li>
				</ul>
			</aside>
		</div>
			<!-- //right side bar -->
		</div>
		</div>
	</div>
	</section>
	<!-- grids block 5 -->

{% else %}
{% endif %} 
{% endblock %}
