{% extends 'base.html' %} {% load static %} {% block content %}

<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>Publications</h2>
      <p>
        <a href="{% url 'index' %}">Home</a> &nbsp; / Researcher&nbsp;
        Publications
      </p>
    </div>
  </div>
</section>

<section class="w3l-blog-single">
  <div class="single blog py-4">
    <div class="container py-md-2">
      <div class="d-grid grid-colunm-2">
        <!-- left side blog post content -->
        <div class="single-left">
          <div class="single-left1">
            {% for researcher_publication in researcher_publications %}
            <div class="column-6">
              <img
                src="{% static 'assets/images/pub_default.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="btom-cont">
              <h5 class="card-title">{{researcher_publication.publication_type|upper}} -
                <a href="{% url 'publication_details' researcher_publication.id %}"
                >{{ researcher_publication.title }}</a>
              </h5>
              <ul class="admin-post">
                <li>
                  <a href="#">Author: &nbsp;{{researcher_publication.author.first_name}}
                     {{researcher_publication.author.last_name}}
                    </a> 
                </li>
                <li>
                  <a href="#">Year Of Publication:&nbsp;
                    {{researcher_publication.year_of_publication}}</a>
                </li><br/>
                <li>
              <ul><hr/>
              <p class="">
                {{ researcher_publication.abstract | truncatewords:30| striptags}}.
              </p>
              <a
                href="{% url 'publication_details' researcher_publication.id %}"
                class="btn btn-theme2 mt-3"
                >Continue Reading</a
              >
            </div>
            <br />
            {% endfor %}

            {% for  researcher_project in researcher_projects %}
            <div class="column-6">
              <img
                src="{% static 'assets/images/pub_default.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="btom-cont">
              <h5 class="card-title">{{researcher_project.project_title|upper}}
                <a href="{% url 'project_details' researcher_project.id %}"
                >{{ researcher_project.title }}</a>
              </h5>
              <ul class="admin-post">
                <li>
                  <a href="#">Project Lead: &nbsp;{{researcher_project.project_pi}} </a> 
                </li>
                <li>
                  <a href="#">Project Status:&nbsp;
                    {{researcher_project.project_status}}</a>
                </li><br/>
                <li>
              <ul><hr/>
              <p class="">
                {{ researcher_project.description | truncatewords:30}}.
              </p>
              <a
                href="{% url 'project_details' researcher_project.id %}"
                class="btn btn-theme2 mt-3"
                >Continue Reading</a
              >
            </div>
            <br />
            {% endfor %}

            {% for researcher_innovation in researcher_innovations %}
            
            <div class="column-6">
              <img
                src="{% static 'assets/images/pub_default.jpg' %}"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="btom-cont">
              <h5 class="card-title">{{researcher_innovation.title|upper}}
                <a href="{% url 'innovation_details' researcher_innovation.id %}"
                >{{ researcher_innovation.title }}</a>
              </h5>
              <ul class="admin-post">
                <li>
                  <a href="#">Innovatior: &nbsp;{{researcher_innovation.user.title}}
                    {{researcher_innovation.user.first_name}} {{researcher_innovation.user.last_name}}</a> 
                </li>
                <li>
                  <a href="#">Patent:&nbsp;
                    {{researcher_innovation.patent}}</a>
                </li><br/>
                <li>
              <ul><hr/>
              <p class="">
                {{ researcher_innovation.description | truncatewords:30}}.
              </p>
              <a
                href="{% url 'innovation_details' researcher_innovation.id %}"
                class="btn btn-theme2 mt-3"
                >Continue Reading</a
              >
            </div>
            <br />
            {% endfor %}

          </div>

          <!-- pagination -->
          <div class="pagination">
            <ul>
              <li>
                {% if page_obj.has_previous %}
                <a
                  href="?page={{ page_obj.previous_page_number }}"
                  class="not-allowed"
                  disabled=""
                >
                  <span
                    class="fa fa-angle-double-left"
                    aria-hidden="true"
                  ></span>
                </a>
                {% endif %}
              </li>
              <li>
                <a class="active" href="#"> {{ page_obj.number }} </a>
              </li>
              <li>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                  <span
                    class="fa fa-angle-double-right"
                    aria-hidden="true"
                  ></span>
                </a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        <!-- left side blog post content -->

        <!-- right side bar -->
        <div class="right-side-bar">
          <aside>
            <h3 class="aside-title mb-3">Search</h3>
            <form class="form-inline search-form" action="#" method="post">
              <input
                class="form-control"
                type="search"
                placeholder="Search here"
                aria-label="email"
                required=""
              />
              <button class="btn search" type="submit">
                <span class="fa fa-search"></span>
              </button>
            </form>
          </aside>
          <aside class="posts p-4 border">
            <h3 class="aside-title">Categories</h3>
            <ul class="category">
              <li>
                <a href="#link"
                  ><span class="fa fa-angle-right"></span> Year
                  <label>(18)</label></a
                >
              </li>
              <li>
                <a href="#link"
                  ><span class="fa fa-angle-right"></span> Countries
                  <label>(18)</label></a
                >
              </li>
              <li>
                <a href="#link"
                  ><span class="fa fa-angle-right"></span> Authors
                  <label> (11)</label></a
                >
              </li>
              <li>
                <a href="#link"
                  ><span class="fa fa-angle-right"></span> Journals
                  <label>(24)</label></a
                >
              </li>
            </ul>
          </aside>
        </div>
        <!-- //right side bar -->
      </div>
    </div>
  </div>
</section>
<!-- grids block 5 -->

{% endblock %}
