{% load static %}

<!-- .app-aside -->
<aside class="app-aside app-aside-expand-md app-aside-light">
  <!-- .aside-content -->
  <div class="aside-content">
    <!-- .aside-header -->
    <header class="aside-header d-block d-md-none">
      <!-- .btn-account -->
      <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="assets/images/avatars/profile.jpg" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name">Beni Arisandi</span> <span class="account-description">Marketing Manager</span></span></button> <!-- /.btn-account -->
      <!-- .dropdown-aside -->
      <div id="dropdown-aside" class="dropdown-aside collapse">
        <!-- dropdown-items -->
        <div class="pb-3">
          <a class="dropdown-item" href="user-profile.html"><span class="dropdown-icon oi oi-person"></span> Profile</a> <a class="dropdown-item" href="auth-signin-v1.html"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
          <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
        </div><!-- /dropdown-items -->
      </div><!-- /.dropdown-aside -->
    </header><!-- /.aside-header -->
    <!-- .aside-menu -->
    <div class="aside-menu overflow-hidden">
      <!-- .stacked-menu -->
      <nav id="stacked-menu" class="stacked-menu">
        <!-- .menu -->
        <ul class="menu">
          <!-- .menu-item -->
          <li {% if '' == request.path %}
                 class="menu-item has-active" style="border-bottom: 1px solid #E8E8E8"
              {% else %}
                 class="menu-item" style="border-bottom: 1px solid #E8E8E8"
              {% endif %}
            >
            <a href="{% url 'dashboard' %}" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
          </li><!-- /.menu-item -->
          <!-- .menu-item -->  
          <!-- .menu-item -->
          <li  {% if 'add-publication' in request.path %}
                    class="menu-item has-child has-active" style="border-bottom: 1px solid #E8E8E8"
                {% else %}
                       class="menu-item" style="border-bottom: 1px solid #E8E8E8"
                {% endif %}
            >
            <a href="#" class="menu-link" style="border-bottom: 1px solid #E8E8E8"><span class="menu-icon oi oi-puzzle-piece"></span> <span class="menu-text">Journal Articles</span></a> <!-- child menu -->
            <ul class="menu">
              <li  {% if 'add-publication' in request.path %}
                       class="menu-item has-active" style="border-bottom: 1px solid #E8E8E8"
                    {% else %}
                       class="menu-item" style="border-bottom: 1px solid #E8E8E8"
                    {% endif %}
                   >
                <a href="{% url 'add-publication' %}" class="menu-link">Add Articles</a>
              </li>
              <li   {% if 'publication_list' in request.path %}
                        class="menu-item has-active" style="border-bottom: 1px solid #E8E8E8"
                    {% else %}
                        class="menu-item" style="border-bottom: 1px solid #E8E8E8"
                    {% endif %}
                >
                <a href="{% url 'publication_list' %}" class="menu-link">All Articles</a>
              </li>
              <li {% if 'approved_publications' in request.path %}
                      class="menu-item has-active" style="border-bottom: 1px solid #E8E8E8"
                  {% else %}
                      class="menu-item" style="border-bottom: 1px solid #E8E8E8"
                  {% endif %}
              >
               <a href="{% url 'approved_publications' %}" class="menu-link">Approved Articles</a>
              </li>
            </ul><!-- /child menu -->
          </li><!-- /.menu-item -->
          <!-- .menu-item -->
          <!-- .menu-item -->
          <li class="menu-item has-child" style="border-bottom: 1px solid #E8E8E8">
            <a href="#" class="menu-link" style="border-bottom: 1px solid #E8E8E8"><span class="menu-icon oi oi-bar-chart"></span> <span class="menu-text">Research Projects</span></a> <!-- child menu -->
            <ul class="menu" style="border-bottom: 1px solid #E8E8E8">
              <li {% if 'add_project' in request.path %}
                      class="menu-item has-active" style="border-bottom: 1px solid #E8E8E8"
                  {% else %}
                      class="menu-item" style="border-bottom: 1px solid #E8E8E8"
                  {% endif %}
              >
                <a href="{% url 'add_project' %}" class="menu-link">Add Project</a>
              </li>
              <li class="menu-item" style="border-bottom: 1px solid #E8E8E8">
                <a href="collection-inline-charts.html" class="menu-link">All Projects</a>
              </li>
              <li class="menu-item" style="border-bottom: 1px solid #E8E8E8">
                <a href="collection-jqvmap.html" class="menu-link">Approved Projects</a>
              </li>
              <li class="menu-item" style="border-bottom: 1px solid #E8E8E8">
                <a href="collection-jqvmap.html" class="menu-link">Waiting Approval</a>
              </li>
            </ul><!-- /child menu -->
          </li><!-- /.menu-item -->
          <!-- .menu-item -->
        </ul><!-- /.menu -->
      </nav><!-- /.stacked-menu -->
    </div><!-- /.aside-menu -->
  </div><!-- /.aside-content -->
</aside><!-- /.app-aside -->