{% extends 'research/base.html' %} {% block content %}

<div class="col-lg-12">
  <div class="page-section">
    <!-- .section-block -->
    <div class="alert alert-primary has-icon alert-dismissible fade show">
      <p class="mb-0">
        Welcome <b>{{ user.first_name }} {{ user.last_name}}</b>. Please fill the form below to add a Research Project
      </p>
    </div>
  </div>
</div>
<!-- /.section-block -->
<!-- grid row -->
<hr />


{% include 'partials/alerts.html' %}

<div class="page-section">
    <!-- .card-deck-xl -->
    <div class="card-deck-xl">
      <!-- .card -->
      <div class="col-lg-8">
            <div class="card card-fluid">
              <h6 class="card-header"> Adding Research Project </h6><!-- .card-body -->
              <div class="card-body">
                        <!-- form -->
                        <form action="{% url 'add_project' %}" method="POST" class="needs-validation" enctype="multipart/form-data" id="myForm">

                        {% csrf_token %}
                        
                        {% if user.is_authenticated %}
                        <input type="hidden" name="user_id" value="{{ user.id }}" class="form-control">
                        {% endif %}
                        <!-- .row -->
                        <div class="form-group">
                            <label for="tf1">Project Title <abbr Project Title="Required">*</abbr></label> 
                            <input type="text" name="title" class="form-control" id="tf1" aria-describedby="tf1Help" placeholder="Project title"> 
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Total Value <abbr Total Value="Required">*</abbr></label> 
                            <input type="text" name="total_value" class="form-control" id="tf1" aria-describedby="tf1Help" placeholder="in US$"> 
                        </div><!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <label class="col-form-label" for="selDefault">Project Status<abbr Project Status="Required">*</abbr></label> 
                              <select class="custom-select" id="selDefault" name="project_status">
                                <option value=""> Choose... </option>
                                <option value="Completed"> Completed </option>
                                <option value="In Progress"> In Progress </option>
                            </select>
                        </div><!-- /.form-group --> 
                        <div class="form-group">
                            <label class="col-form-label" for="selDefault">Project Type<abbr Project Type="Required">*</abbr></label> 
                                <select class="custom-select" id="selDefault" name="project_type">
                                <option value=""> Choose... </option>
                                <option value="Consultancy"> Consultancy </option>
                                <option value="Grant Based"> Grant based </option>
                            </select>
                        </div><!-- /.form-group --> 
                        <div class="form-group">
                          <label for="tf1">Country <abbr Project Title="Required">*</abbr></label> 
                          <input type="text" name="country" class="form-control" id="tf1" aria-describedby="tf1Help" placeholder="Country"> 
                      </div><!-- /.form-group -->  
                        <div class="form-group">
                            <label class="control-label" for="flatpickr-wrap">Date From<abbr Date From="Required">*</abbr></label> 
                            <div class="input-group input-group-alt flatpickr" id="flatpickr9" data-toggle="flatpickr" data-wrap="true" data-alt-input="true" data-alt-format="F j, Y" data-alt-input-class="form-control" data-date-format="Y-m-d" value="" placeholder="DD/MM/YYYY">
                              <input id="flatpickr-wrap" type="text" name="date_from" class="form-control" data-input="">
                              <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" data-toggle=""><i class="far fa-calendar"></i></button> 
                                <button type="button" class="btn btn-secondary" data-clear=""><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                        </div><!-- /.form-group -->   
                        <div class="form-group">
                            <label class="control-label" for="flatpickr-wrap">Expected Completion Date<abbr Expected Completion Date="Required">*</abbr></label> 
                            <div class="input-group input-group-alt flatpickr" id="flatpickr9" data-toggle="flatpickr" data-wrap="true" data-alt-input="true" data-alt-format="F j, Y" data-alt-input-class="form-control" data-date-format="Y-m-d" value="" placeholder="DD/MM/YYYY">
                              <input id="flatpickr-wrap" type="text" name="expected_completion_date" class="form-control" data-input="">
                              <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" data-toggle=""><i class="far fa-calendar"></i></button> 
                                <button type="button" class="btn btn-secondary" data-clear=""><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                        </div><!-- /.form-group -->  
                        <div class="form-group">
                            <label for="tf1">Project Leader (PI) <abbr Project Leader="Required">*</abbr></label> 
                            <input type="text" name="project_pi" class="form-control" id="tf1" aria-describedby="tf1Help" placeholder="Project Leader (PI)"> 
                        </div><!-- /.form-group -->  
                        <div class="form-group">
                          <label for="tf1">Project Co-PI <abbr Project Leader="Required">*</abbr></label> 
                          <input type="text" name="project_co_pi" class="form-control" id="tf1" aria-describedby="tf1Help" placeholder="Project Co-PI"> 
                      </div><!-- /.form-group --> 
                        <div class="form-group">
                          <label for="tf1">Project Member<abbr Project Members ="Required">*</abbr></label> 
                          <input type="text" name="member" class="project_member" id="tf1" style="width:100%;" aria-describedby="tf1Help" placeholder="Project Member"> 
                          <input type="hidden" id="cData" name="c_data"> 
                        </div><!-- /.form-group -->   
                        <div class="form-group" id="text-fields">
                          
                        </div><!-- /.form-group -->  
                        <div class="form-group" id="add_project_member">
                            <label class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-9" style="text-align:center;">
                                <a style="font-size:15px;cursor:pointer;" onclick="displayTextField()"><u><i class="fa fa-plus"></i>Add Project Member</u></a>
                            </div>
                        </div>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="tf6">Description <abbr title="Required">*</abbr></label>
                            <textarea name="description" class="form-control" id="tf6" rows="10" placeholder="Description of the project" required=""></textarea>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Upload File<abbr title="Required">*</abbr></label>
                            <div class="custom-file">
                              <input type="file" name="image" class="custom-file-input" id="tf3"> 
                              <label class="custom-file-label" for="tf3">Choose file</label>
                            </div>
                        </div><!-- /.form-group -->  
                        <div class="form-group">
                          <label for="tf3">Supporting Document<abbr title="Required">*</abbr></label>
                          <div class="custom-file">
                            <input type="file" name="document" class="custom-file-input" id="tf3"> 
                            <label class="custom-file-label" for="tf3">Choose file</label>
                          </div>
                      </div><!-- /.form-group -->                
                        <div class="form-group">
                          <label for="tf1">Project Donor<abbr Project Members ="Required">*</abbr></label> 
                          <input type="text" name="donor" class="project_donor" id="tf1" style="width:100%;" aria-describedby="tf1Help" placeholder="Project Donor"> 
                          <input type="hidden" id="concatData" name="concat_data"> 
                      </div><!-- /.form-group -->   
                      <div class="form-group" id="donor-text-fields">
                        
                       </div><!-- /.form-group -->  
                      <div class="form-group" id="add_project_donors">
                          <label class="col-sm-2 control-label no-padding-right"></label>
                          <div class="col-sm-9" style="text-align:center;">
                              <a style="font-size:15px;cursor:pointer;" onclick="displayDonorField()"><u><i class="fa fa-plus"></i>Add Project Donor</u></a>
                          </div>
                      </div>  
                      <div class="form-group">
                        <label for="tf1">Project Partner</label> 
                        <input type="text" name="data" class="project_partner" id="tf1" style="width:100%;" aria-describedby="tf1Help" placeholder="Project Partner">
                        <input type="hidden" id="concatenatedData" name="concatenated_data"> 
                      </div><!-- /.form-group -->
                      <div class="form-group" id="partner-text-fields">
                      </div><!-- /.form-group -->  
                      <div class="form-group" id="add_project_partner">
                         <label class="col-sm-2 control-label no-padding-right"></label>
                         <div class="col-sm-9" style="text-align:center;">
                             <a style="font-size:15px;cursor:pointer;" onclick="displayPartnerField()"><u><i class="fa fa-plus"></i>Add Project Partner</u></a>
                         </div>
                      </div>   
  
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                        </form><!-- /form .needs-validation -->
                        <!-- /form -->
                      </div>
              </div>
<!-- /.card-body -->
            <script>
              let counter = 0;

              function displayTextField() {
                const projectMember = document.createElement("input");
                projectMember.type = "text";
                projectMember.name = "member";
                projectMember.classList.add("project_member");
                projectMember.style="margin-bottom:10px";
                projectMember.style = "width:100%";
                projectMember.placeholder = "Project Member";
                document.getElementById("text-fields").appendChild(projectMember);
                
                counter++;
              }
              
              function displayDonorField() {
                const projectDonor = document.createElement("input");
                projectDonor.type = "text";
                projectDonor.name = "donor";
                projectDonor.classList.add("project_donor");
                projectDonor.style="margin-bottom:10px";
                projectDonor.style = "width:100%";
                projectDonor.placeholder = "Project Donor";
                document.getElementById("donor-text-fields").appendChild(projectDonor);
                
                counter++;
              }

              function displayPartnerField() {
                const projectPartner = document.createElement("input");
                projectPartner.type = "text";
                projectPartner.name = "data";
                projectPartner.class = "project_partner";
                projectPartner.classList.add("project_partner");
                projectPartner.style = "margin-bottom:10px";
                projectPartner.style = "width:100%";
                projectPartner.placeholder = "Project Partner";
                document.getElementById("partner-text-fields").appendChild(projectPartner);
                
                counter++;
              }

              
                $(document).ready(function() {
                  $('#myForm').on('submit', function(e) {
                    e.preventDefault();
                
                    var concatenatedData = '';
                    $('.project_partner').each(function() {
                      concatenatedData += ','+$(this).val();
                    });
                
                    $('#concatenatedData').val(concatenatedData);
                
                    var concatData = '';
                    $('.project_donor').each(function() {
                      concatData += ','+$(this).val();
                    });
                
                    $('#concatData').val(concatData);

                    var cData = '';
                    $('.project_member').each(function() {
                      cData += ','+$(this).val();
                    });
                
                    $('#cData').val(cData);
                
                    this.submit();
                  });
                });

                {% comment %} $(document).ready(function() {
                  $('#myForm').on('submit', function(e) {
                    e.preventDefault();
                
                   
                  });
                });'
                
                $(document).ready(function() {
                  $('#myForm').on('submit', function(e) {
                    e.preventDefault();
                
                    var cData = '';
                    $('.project_member').each(function() {
                      cData += $(this).val();
                    });
                
                    $('#cData').val(cData);
                
                    this.submit();
                  });
                });
                 {% endcomment %}
              </script>
          
<!-- grid row -->
<!-- /.page-section -->
{% endblock %}
</div>
</div>
</div>
