{% extends 'research/base.html' %} {% block content %}

<div class="col-lg-12">
  <div class="page-section">
    <!-- .section-block -->
    <div class="alert alert-primary has-icon alert-dismissible fade show">
      <p class="mb-0">
        Welcome <b>{{ user.first_name }} {{ user.last_name}}</b>. Fill the form below to submit a publication
      </p>
    </div>
  </div>
</div>
<!-- /.section-block -->
<!-- grid row -->
<hr />

{% include 'partials/alerts.html' %}

<div class="card-deck-xl">
<div class="col-lg-8">
  <!-- .card -->
  <div class="card card-fluid">
    <h6 class="card-header"> Submitting an Doi* </h6><!-- .card-body -->
    <div class="card-body">
              <!-- form -->
              <form action="{% url 'add_publication' %}" method="POST" class="needs-validation">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="address">Publication Doi</label> 
                    <input type="text" name="doi" class="form-control" id="address" placeholder="Enter Publication Doi" required="">
                    <div class="invalid-feedback">Enter Publication Doi. </div>
                </div><!-- /.form-group -->
            
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Get Details From Doi</button>
              </form><!-- /form .needs-validation -->
              <!-- /form -->
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
