{% extends 'research/base.html' %} {% load static %}
{% load humanize %}{% block content %}

<!-- grid row -->
<hr>
   <header class="page-cover">
    <div class="text-center">
      <a href="#" class="user-avatar user-avatar-xl">
        <img src="{% static 'assets/images/researcher_default.png' %}" alt=""></a>
      <h2 class="h4 mt-2 mb-0"> {{research_project.project_pi}} </h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="far fa-star text-yellow"></i>
      </div>
      <p class="text-muted"> Project Lead</p>
      <br/>
      <P><b>Project Members</b> : {{research_project.project_member}}</p>
    </div><!-- .cover-controls -->
    <div class="cover-controls cover-controls-bottom">
        <a href="#"class="btn btn-light">
        <b>Project Status</b> : {{research_project.project_status}}</a><br/>
        <a href="#" class="btn btn-light">
        <b>Project Type</b> : {{research_project.project_type}}
        </a>
    </div><!-- /.cover-controls -->
  </header><!-- /.page-cover -->

  <!-- .page-navs -->
  <nav class="page-navs">
    <!-- .nav-scroller -->
    <div class="nav-scroller">
      <!-- .nav -->
      <div class="nav nav-center nav-tabs">
         <a class="nav-link active" href="user-teams.html">{{research_project.title}}</a>
      </div><!-- /.nav -->
    </div><!-- /.nav-scroller -->
  </nav><!-- /.page-navs -->
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <!-- .masonry-layout -->
      <div class="masonry-layout">
        <!-- .masonry-item -->
        <div class="masonry-item col-lg-12">
          <!-- .card -->
          <div class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">
              <!-- team avatar -->
              <div class="media align-items-center mb-3">
                <ul class="list-icons mb-3">
                    <li>
                      <span><b>Project Donors</b> :</span>
                      {{research_project.project_donor}} </li>
                </ul>
              </div><!-- /.media --><hr/>
              <p> {{research_project.description}} </p><!-- /team avatar -->
              <hr/>
              <!-- team rating -->
              <ul class="list-icons mb-3">
                <li>
                  <span><b>Project Partners</b> :</span>
                   {{research_project.project_partner}} </li>
              </ul><!-- /team details -->
                   
            </div><!-- /.card-body -->
            <!-- .card-footer -->
            <div class="card-footer">
              <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
                <strong>$ {{research_project.total_value | intcomma}}</strong> 
                <span class="d-block">Total Value</span></a> 
                <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
                    <strong>{{research_project.country}}</strong>
                    <span class="d-block">Country</span></a> 
                <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
                    <strong>{{research_project.project_co_pi}}</strong>
                     <span class="d-block">Project CO Lead</span></a>
                <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
                <strong>{{research_project.date_from }}</strong> 
                <span class="d-block">Date From</span></a> 
                <a href="#" class="card-footer-item card-footer-item-bordered text-muted">
                    <strong>{{research_project.expected_completion_date }}</strong> 
                    <span class="d-block">Expected End Date</span></a> 
            </div><!-- /.card-footer -->
          </div><!-- /.card -->
        </div><!-- /.masonry-item -->
            
      <!-- spinner -->
    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
</div><!-- .app-footer -->

{% endblock %}