{% extends 'grants/base.html' %} 
{% block content %}

<div class="col-lg-12">
    <div class="page-section">
        <!-- .section-block -->
        <div class="alert alert-primary has-icon alert-dismissible fade show">

            <p class="mb-0"> Welcome <b>{{ user.first_name }} {{ user.last_name}}</b>. Below is the list of all applied grants</p>

        </div>
    </div>
</div><!-- /.section-block -->
<!-- grid row -->
<hr>

<br>

<div class="card-deck-xl">
    <div class="col-lg-12">

    {% if object_list %}
      <!-- grid column -->
      <!-- .card -->
      <div class="card card-fluid">
        <div class="card-body">
          <div class="table-responsive">
            <!-- .table -->
            <table class="table">
              <!-- thead -->
              <thead>
                <tr>
                  <th class="center">#</th>
                  <th></th>
                  <th>Grant Title</th>
                  <th>Amount of Funding</th>
                  <th>Status</th>
                  <th style="width:100px; min-width:100px;">Actions</th>
                </tr>
              </thead><!-- /thead -->
              <!-- tbody -->
              <tbody>
                  {% for grant in object_list %}
                <tr>
                    <tr>
                      <td class="align-middle">{{forloop.counter}}</td>

                      <td class="align-middle px-0" style="width: 1.5rem">
                        <button type="button" class="btn btn-sm btn-icon btn-light" data-toggle="collapse" data-target="#details-cid5743{{ grant.id }}"><span class="collapse-indicator"><i class="fa fa-angle-right"></i></span></button>
                      </td>
                      <td class="align-middle">
                        <a href="#">{{ grant.title }}</a>
                      </td>
                      <td class="align-middle"> ${{ grant.amount_of_funding }} </td>
                      <td class="align-middle">
                        <span class="badge badge-subtle badge-success">Completed</span>
                      </td>
                      <td class="align-middle text-right">
                        <a href="{% url "grant-update" grant.id %}" class="btn btn-sm btn-icon btn-secondary">
                            <i class="fa fa-pencil-alt"></i> <span class="sr-only">Edit</span></a> 

                        <a class="btn btn-sm btn-icon btn-secondary">
                          <i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteModal{{ grant.id }}"></i>
                           <span class="sr-only">Remove</span></a>
                    </td>
                    </tr><!-- /tr -->
                    <!-- tr -->
                    <tr class="row-details bg-light collapse" id="details-cid5743{{ grant.id }}">
                      <td colspan="6">
                        <!-- .row -->
                        <div class="row">
                          {% comment %} <!-- .col -->
                          <div class="col-md-auto text-center">
                            <div class="tile tile-xl tile-circle bg-purple mb-2"> O </div>
                            <h3 class="card-title mb-4"> {{grant.user.first_name}} {{grant.user.last_name}}</h3>
                          </div><!-- /.col --> {% endcomment %}
                          <!-- .col -->
                          <div class="col-md-12">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <td class="align-middle"> Abstract </td>
                                  <td class="align-justify"> {{grant.abstract}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Introduction </td>
                                  <td class="align-justify"> {{grant.introduction}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Justification </td>
                                  <td class="align-justify"> {{grant.justification}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Objectives </td>
                                  <td class="align-justify"> {{grant.objectives}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Methodology </td>
                                  <td class="align-justify"> {{grant.methodology}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Research Dessemination Strategy </td>
                                  <td class="align-justify"> {{grant.research_dessemination_strategy}} </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"> Ethical Considerations </td>
                                  <td class="align-justify"> {{grant.ethical_considerations}} </td>
                                </tr>
                              </tbody>
                            </table>
                          </div><!-- /.col -->
                        </div><!-- /.row -->
                      </td>
                    </tr><!-- /tr -->

                  </tr>

                    <!-- Modal -->
                  <div class="modal fade" id="deleteModal{{ grant.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <p>Are you sure you want to delete <b>"{{ grant.title|upper}}"?</b></p>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <form method="POST" action="{% url 'delete-grant' grant.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </tbody><!-- /tbody -->
            </table><!-- /.table -->
          </div><!-- /.table-responsive -->
        </div>
        </div>
      </div><!-- /.card -->
    </div><!-- /grid column -->
    {% else %}
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissible fade show">
        Records not found
        </div>
    </div>
             <!-- /.card -->
    {% endif %}
    </div>
</div><!-- /card-deck-xl -->

{% endblock %}