{% extends 'base.html' %} 

{% load static %} 

{% block content %}



	<section class="w3l-about-breadcrum">
	<div class="breadcrum-bg py-sm-5 py-4">
		<div class="container py-lg-3">
		<h2>Researchers</h2>
		<p><a href="{% url 'index' %}">Home</a> &nbsp; / &nbsp; Researchers</p>
		</div>
	</div>
	</section>

{% if object_list  %}

<div class="features py-5" id="services">
	<div class="container py-md-3">
	
	   <div class="fea-gd-vv text-center row">
			{% for researcher in object_list %} 
			<div class="float-top col-lg-4 col-md-6">	
					<a href="#"><img src="{% static 'assets/images/g2.jpg' %}" class="img-responsive" alt=""></a>
					<div class="float-lt feature-gd">	
							<h3><a href="#">{{researcher.author.first_name}} {{researcher.author.last_name}}</a> </h3>
							<p> {{researcher.author.position}} </p>
					</div>
			</div>
			{% endfor %}
					 				 
		 </div>  
	</div>
  </div>
<!-- //features -->
</section>

{% endif %}

{% endblock %}
