{% extends 'base.html' %}

{% load static %}

{% block content %}
  
  <section class="w3l-blog-single">
      <div class="single blog py-5">
        <div class="container py-md-3">
          <div class="d-grid grid-colunm-2">
            <!-- left side blog post content -->
            <div class="single-left">
              <div class="single-left1">             
                <div class="btom-cont1 pt-4">
                  <h5 class="card-title"><a href="#">{{ innovation.title }}</a></h5>
                  <ul class="admin-post">
                    <li>
                      <a href="blog-single.html"><span class="fa fa-user"></span> {{ innovation.author.name }}</a>
                    </li>
                  </ul>
                  <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  
                  
                  <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    width="640"
                    height="360"
                    data-setup="{}"
                  >
                    <source src="{{ MEDIA_URL }}innovation_media/2023/02/08/Jesu_Doh_-_Eben__Jahdiel_-_YouTube.mkv" type="video/mp4" />
                    
                  </video>

                 
                  <a
                    href="{{publication.publication_link}}"
                    class="btn btn-theme2 mt-3" target="_blank"
                    >Publication Link</a
                  >
              </div>
          </div>
            </div>
            <!-- left side blog post content -->
            <!-- right side bar -->
            <div class="right-side-bar">
              <!-- contact -->
<section class="w3l-contacts-12" id="contact">
  <div class="contact-top pt-5">
      <div class="container py-md-3">
          <div class="row cont-main-top">
              <!-- contact address -->
              <div class="contact col-lg-12">
                  <div class="cont-subs">
                      <div class="cont-add">
                         <div class="cont-add-rgt">
                          <h4>Year of Publication</h4>
                          <p class="contact-text-sub">{{publication.year_of_publication}}</p>
                      </div>
                  </div>
                      <div class="cont-add add-2">     
                         <div class="cont-add-rgt">
                          <h4>Place of Publication</h4>
                              <p class="contact-text-sub">{{publication.place_of_publication}}</p>
                      </div> 
                  </div>
                      <div class="cont-add">
                          <div class="cont-add-rgt">
                               <h4>ISBN</h4>
                                  <p class="contact-text-sub">{{publication.isbn}}</p>
                          </div>
                      </div>
                      <div class="cont-add add-3">
                          <div class="cont-add-rgt">
                               <h4>Publisher</h4>
                               <p class="contact-text-sub">{{publication.publisher}}</p>
                          </div>
                          <div class="cont-add-lft">
                             
                         </div>
                      </div>
                    </div>
                    <!-- //contact address -->
                  </div>
                </section>
                <!-- //contact -->    
            </div>
            </div>
            <!-- //right side bar -->
          </div>
        </div>
      </div>
    </section>
    <!---728x90--->
  <!-- grids block 5 -->

{% endblock %}